body {
    font-family: "Poppins", sans-serif;
}

.blocked {
    background-color: grey;
    font-weight: bold;
}

.soft-active {
    background-color: #decade;
}

.soft-active.blocked {
    background-color: #796b79;
}

.error {
    background-color: red !important;
    font-weight: bold !important;
}

.active {
    background-color: #c8a2c8 !important;
}

.active.error {
    color: red !important;
}
